{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Calibre</h1>
    <p class="lead">calibre is a powerful and easy to use e-book manager.</p>
    <p><a href="https://calibre-ebook.com/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>Users say it is outstanding and a must-have.</p>
        <p><a class="btn btn-default" href="https://calibre-ebook.com/about/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>calibre is a powerful and easy to use e-book manager..</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>New features</h2>
        <p>Support for the new Kindle Paperwhite 2018.</p>
        <p><a class="btn btn-default" href="https://calibre-ebook.com/whats-new">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
